<div class="container-fluid">
    <div id="caja">
       <h1><b>Information Systems Engineering</b></h1>
       <h2>> National Technological University(FRC)</h2>
       <h2>> 3rd year in progress</h2>
       <h2>> 2022 / present</h2>
    </div>
    <div id="caja">
       <h1><b>Full Stack Developer</b></h1>
       <h2>> Argentina Programa</h2>
       <h2>> Completed</h2>
       <h2>> 10/2022 - 05/2023</h2>
    </div>
    <div id="caja">
       <h1><b>Java intermediate level</b></h1>
       <h2>> National Technological University(FRC)</h2>
       <h2>> Completed</h2>
       <h2>> 10/2023 - 11/2023</h2>
    </div>
 </div>
 