<div class="container-fluid" >
    <div class="row text-center contContac">
        <h1 id="contactame">Contact me</h1>
    </div>
    <div class="row" id="contenedor">
        <form (ngSubmit)="onSubmit()"  [formGroup]="contactForm" >

            <!-- Nombre input -->
            <div class="form-outline mb-3">
                <label class="form-label" ><h2>Name:</h2></label>
                <input type="text"  required formControlName="name">
                <div class="alert alert-danger" 
                *ngIf="contactForm.get('name')?.touched && contactForm.get('name')?.errors?.['required']">This field is required</div>
                <div class="alert alert-danger" 
                *ngIf="contactForm.get('name')?.touched && contactForm.get('name')?.errors?.['minlength']">More than 3 characters</div>
            </div>

            <!-- Email input --> 
            <div class="form-outline mb-3">
                <label class="form-label"><h2>Email:</h2></label>
                <input type="email"   required formControlName="email">
                <div class="alert alert-danger" 
                *ngIf="contactForm.get('email')?.touched && contactForm.get('email')?.errors?.['required']">This field is required</div>
                <div class="alert alert-danger"
                *ngIf="contactForm.get('email')?.touched && contactForm.get('email')?.errors?.['email']">Input valid email</div>
            </div>

            <!-- message input -->
            <div class="form-outline mb-1">
                <label class="form-label"><h2>Message:</h2></label>
                <textarea maxlength="400" type="text" required formControlName="message"></textarea>
                <div class="alert alert-danger"
                *ngIf="contactForm.get('message')?.touched && contactForm.get('message')?.errors?.['required']">This field is required</div>
            </div>

            

            
            <!-- Submit button -->
            <button [disabled]="contactForm.invalid" type="submit" class="btn btn-primary btn-block mb-4"><h4>Enviar</h4></button>
        </form>

    </div>
</div>