<div class="container text-center">
    <div class="containerHard">
        <div class="row hardskill">
            <h1><b>HARD SKILL</b></h1>
        </div>

        <div class="row cuerpo">
            <div class="col-4">
                <div class="row front">
                    <h2><b>FRONT</b></h2>
                </div>
                <h3>HTML</h3>
                <h3>CSS</h3>
                <h3>TypeScrip</h3>
                <h3>ANGULAR</h3>
                <h3>VSC</h3>
            </div>
            <div class="col-4">
                <div class="row back">
                    <h2><b>BACK</b></h2>
                </div>
                <h3>Java</h3>
                <h3>Spring Boot</h3>
                <h3>Python</h3>
                <h3>Small Talk</h3>
                <h3>Net Beans</h3>
            </div>
            <div class="col-4">
                <div class="row others">
                    <h2><b>OTHERS</b></h2>
                </div>
                <h3>MySQL</h3>
                <h3>GitHub</h3>
                <h3>Postman</h3>
                <h3>JPA</h3>
                <h3>UML</h3>
                <h3>POO</h3>
                <h3>SCRUM</h3> 
                <h3>Trello</h3>
                <h3>English</h3>
            </div>
        </div>
    </div>
</div>