<div class="container-fluid">
    <div class="about-window" data-aos="fade-up">
        <div class="about-header">
            <span>02_ABOUT_ME</span>
        </div>

        <div class="row marco">

        <div class="col-lg-6 col-12">

            <div class="identity-prompt">
                <h1 id="wname">WHO ARE YOU?</h1>
                <div class="name-entry" id="nameEntry">
                    <span class="prompt-symbol">&gt;</span>
                    <input type="text" name="name" id="name"
                        placeholder="enter name..." [(ngModel)]="name" (keyup.enter)="func1()">
                    <button id="nameButton" type="button" (click)="func1()" aria-label="Confirm name"><i class="fa-solid fa-check"></i></button>
                </div>
            </div>


            <div id="contTexto">
                <h1 id="hello">Hello {{name}}!</h1> <br>
                <h1 id="myname">My name is Facu Robles.</h1> <br>
                <h1 id="choose">Choose an option to continue..</h1>
            </div>

            <nav id="contOptions" aria-label="About sections">
                <br>
                <a ><h1  routerLink="/whoAmI" routerLinkActive="activo" id="option1"> 1.Who am I?.</h1></a>
                <br>
                <a ><h1 routerLink="option2" routerLinkActive="activo" id="option2"> 2.Studies.</h1></a>
                <br>
                <a ><h1  routerLink="option3" routerLinkActive="activo" id="option3"> 3.Skills.</h1></a>
                <br>
                <a><h1 routerLink="experience" routerLinkActive="activo" id="option4"> 4.Experience.</h1></a>
            </nav>
        </div>

        <div class="col-lg-6 col-12">
            <div class="output-window">
                <div class="output-header">OUTPUT_BUFFER <span>● ● ●</span></div>
                <div id="optionView">
                <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
